@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-toastify/dist/ReactToastify.css";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.input-form {
  @apply px-4 py-3 bg-gray-100  text-sm outline-none border-b-2 border-transparent focus:border-blue-500 rounded;
}
.slick-prev {
  left: 0px;
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.slick-next {
  right: 0px;
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.4);
}

.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.logo-sold {
  background: none;
  display: block;
}
/*  */
